
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">


<title>Event Page</title>


</head>




<body bottommargin="0" leftmargin="0" marginheight="0" marginwidth="0" rightmargin="0" topmargin="0" class="content_background">



<table cellpadding="0" cellspacing="0">

<tr>

<td align="left" valign="top" width="720">



<h1>Organisation</h1>


 <strong>Local Organising Committee</strong><br> <em>(Information to be included by the LOC)</em>
 
 
 <br>
 <br>
 <br>
 <br>
<strong>European Athletics Officiating Persons</strong><br> 
<em>(Information to be included by the LOC according to the list sent by European Athletics Office)</em> <br>
<br>


<table width="80%" cellpadding="1" cellspacing="0">

<tr>
  <td width="250"><strong>Council Delegate</strong></td>
  <td>...........</td>
</tr>

<tr>
  <td colspan="2"><hr></td>
  </tr>
  
<tr>
  <td><strong>Technical Delegate</strong></td>
  <td>...........</td>
</tr>

<tr>
  <td colspan="2"><hr></td>
  </tr>

<tr>
  <td><strong>Doping Control Delegate</strong></td>
  <td>...........</td>
</tr>
<tr>
  <td valign="top"><strong>Jury of Appeal</strong></td>
  <td>...........<br>
    ...........<br>
    ...........</td>
</tr>

<tr>
  <td colspan="2"><hr></td>
  </tr>

<tr>
  <td valign="top"><strong>ATOs/ITOs</strong></td>
  <td>...........<br>
    ...........<br>
    ...........<br>
    ...........</td>
</tr>



</table>


</td>
</tr>
  
  </table>


</body>
</html>
