
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">


<title>Event Page</title>


</head>

<body bottommargin="0" leftmargin="0" marginheight="0" marginwidth="0" rightmargin="0" topmargin="0" class="content_background">



<table cellpadding="0" cellspacing="0">

<tr>

<td align="left" valign="top" width="510">

<img src="images/frontpic.jpg"><br>
<br>

<h1>Welcome</h1>

text text text text text text text text text text text text text text text text text text text text text text text text
text text text text text text text text text text text text text text text text text text text text text text text text
text text text text text text text text text text text text text text text text text text text text text text text text
</td>

<td width="30">&nbsp;</td>


<td width="180" align="left" valign="top">


<table width="100%" cellpadding="8" cellspacing="0"><tr>
  <td class="table" align="left" valign="top"><strong>table</strong><br>
<br> 
text text text text text text text text text text text text text text text text text text text text text text text text<br>
<br>
text text text text text text text text text text text text<br>
<br>


text text text text


</td>
  </tr>
</table>

<br>
<br>
<br>


</td>

</tr>

</table>

</body>
</html>
