
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">


<title>Event Page</title>


</head>




<body bottommargin="0" leftmargin="0" marginheight="0" marginwidth="0" rightmargin="0" topmargin="0" class="content_background">



<table cellpadding="0" cellspacing="0">

<tr>

<td align="left" valign="top" width="720">



<h1>Entries & Entry standards</h1>
<em class="right_background"><strong>For European Cup Winter Throwing:</strong></em>

<br>
<br>
Each team shall consist of up to 2 (two) athletes entered in each event for Senior Men and Senior Women and one athlete in each event for Under 23 Men and Women.<br>
<br>
Team entries will handle through our teams online entry system as for all the European Athletics events. The system will be accessible at:

<br>
<br>
<strong>www.european-athletics.org</strong> in the section <strong>“Member Federations Zone/ Competition”</strong><br>
<br>
According to the regulations the deadlines for entries are:<br>
<br>
<table class="table" border="0" cellspacing="1" cellpadding="3" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td class="table" width="161" valign="top"><strong>Men</strong></td>
    <td class="table" width="156" valign="top"><strong>opening date of the system</strong></td>
    <td class="table" width="156" valign="top"><strong>deadline for the entries</strong></td>
  </tr>
  <tr>
    <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Preliminary Entries</strong><br>
      (travel and accommodation info)</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Friday 30 November 2007<br>
      <br>
      <br></td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Friday 14 December 2007</td>
  </tr>
  <tr>
    <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Final Entries</strong><br>
      (final team entries)<br></td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Thursday 21 February 2008</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Wednesday 05 March 2008</td>
  </tr>
</table>
<br>
For further details regarding the participation in the European Cup Winter Throwing, please go through the respective competition regulations available at <strong>www.european-athletics.org</strong> in the section “Member Federation Zone / Competition”.


<br>
<br>
<br>
<br>
<br>
<br>
<em class="right_background"><strong>For European Cup 10.000m:</strong></em><br>
<br>
 Each team shall consist of up to 6 (six) athletes in each event provided that each athlete has achieved the relevant qualifying standard:<br>
<br> 
<ul><li>	The time which is equal to the hundredth best in the European Best Lists of 5000 m, 10 000 m, 3000 m Steeplechase, Half Marathon and Marathon of the year 3 (three) years preceding the event, achieved between the 1st of January 2 (two) years preceding the year of the competition and the closing date for the final entries.</li><br>
<br> 
<li>	Runners having finished in the first 50 (fifty) in any of the last 3 (three) IAAF World Cross Country Championships, or in the first 20 (twenty) in the Senior Events of the European Cross Country Championships held in the year preceding the European Cup 10 000 m, or in the first 10 (ten) in the Under 23 Events of the European Cross Country Championships held in the year preceding the European Cup 10 000 m. </li></ul>
<br>

<table border="0" cellspacing="1" cellpadding="3" class="table" width="100%">
  <tr>
    <td width="176" valign="top"><p align="center"><strong>Event</strong></p></td>
    <td width="205" valign="top"><p align="center"><strong>Men</strong></p></td>
    <td width="205" valign="top"><p align="center"><strong>Women</strong></p></td>
  </tr>
  <tr>
    <td width="176" valign="top" bgcolor="#FFFFFF"><p align="center">5    000m</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
  </tr>
  <tr>
    <td width="176" valign="top" bgcolor="#FFFFFF"><p align="center">10    000m</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
  </tr>
  <tr>
    <td width="176" valign="top" bgcolor="#FFFFFF"><p align="center">3    000m steeple</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
  </tr>
  <tr>
    <td width="176" valign="top" bgcolor="#FFFFFF"><p align="center">Half    Marathon</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
  </tr>
  <tr>
    <td width="176" valign="top" bgcolor="#FFFFFF"><p align="center">Marathon</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
    <td width="205" valign="top" bgcolor="#FFFFFF"><p align="center">&lt;to be completed&gt;</p></td>
  </tr>
</table>
<br>
<br>

 All team members must meet the qualification standards. Countries having participated the preceding year in the European Cup can enter 1 (one) male and 1 (one) female athlete even if he/she has not fulfilled the entry standard. <br>
 <br>
 <strong>This is only applicable in case of participation with only one athlete in each event. In the case of more than one competing athletes all athletes must have achieved the qualification standard.<br>
 <br>
 </strong>Team entries will handle through our teams online entry system as for all the European Athletics events.<br>
 <br>
 The system will be accessible at:<strong> www.european-athletics.org</strong> in the section <strong>“Member Federations Zone/ Competition”</strong>. <br>
 <br>
 According to the regulations the deadlines for entries are:<br>
 <br>
 
 
<table class="table" border="0" cellspacing="1" cellpadding="3" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td class="table" width="161" valign="top"><strong>Men</strong></td>
    <td class="table" width="156" valign="top"><strong>opening date of the system</strong></td>
    <td class="table" width="156" valign="top"><strong>deadline for the entries</strong></td>
  </tr>
  <tr>
    <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Preliminary Entries</strong><br>
      (travel and accommodation info)</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Monday 7 January 2008
     </td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Monday 14 January 2008</td>
  </tr>
  <tr>
    <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Final Entries</strong><br>
      (final team entries)<br></td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Thursday 20 March 2008</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Wednesday 02 April 2008</td>
  </tr>
</table> 
 
 
 
 		 <br>

 For further details regarding the participation in the European Cup Winter Throwing, please go through the respective competition regulations available at <strong>www.european-athletics.org</strong> in the section “Member Federation Zone / Competition”. 
 
 
 <br>
<br>
<br>
<br>
<br>
<br>
<span class="right_background"><em><strong>For European Cup Race Walking:</strong></em></span><br>
<br> 
Each team shall consist of up to 4 (four) athletes for Senior Men and Senior Women and up to 3 (three) athletes for Junior Men and Junior Women. Member Federations not entering teams may enter athletes to compete as individuals, each event being considered separately.<br>
<br>
Team entries will handle through our teams online entry system as for all the European Athletics events. The system will be accessible at:<br>
<br>
<strong>www.european-athletics.org</strong> in the section<strong> “Member Federations Zone/ Competition”</strong><br>
<br>
According to the regulations the deadlines for entries are:<br>
<br>
<table class="table" border="0" cellspacing="1" cellpadding="3" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td class="table" width="161" valign="top"><strong>Men</strong></td>
    <td class="table" width="156" valign="top"><strong>opening date of the system</strong></td>
    <td class="table" width="156" valign="top"><strong>deadline for the entries</strong></td>
  </tr>
  <tr>
    <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Preliminary Entries</strong><br>
      (travel and accommodation info)</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">
     
    </td>
    <td width="156" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Final Entries</strong><br>
      (final team entries)<br></td>
    <td width="156" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table> 
<br>
For further details regarding the participation in the European Cup Winter Throwing, please go through the respective competition regulations available at <strong>www.european-athletics.org</strong> in the section “Member Federation Zone / Competition”.

<br>
<br>
<br>
<br>
<br>
<br>
<em class="right_background"><strong>For European Cup: </strong></em><br>
<br>
Each team shall consist of up to 25 (twenty-five) athletes.<br>
Team entries will handle through our teams online entry system as for all the European Athletics events.<br>
<br>
The system will be accessible at:

<strong>www.european-athletics.org</strong> in the section <strong>“Member Federations Zone/ Competition”</strong> <br>
<br>
According to the regulations the deadlines for entries are:<br>
<br>
<table class="table" border="0" cellspacing="1" cellpadding="3" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td class="table" width="161" valign="top"><strong>Men</strong></td>
    <td class="table" width="156" valign="top"><strong>opening date of the system</strong></td>
    <td class="table" width="156" valign="top"><strong>deadline for the entries</strong></td>
  </tr>
  <tr>
    <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Preliminary Entries</strong><br>
      (travel and accommodation info)</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Friday 07 March 2008</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Wednesday 19 March 2008</td>
  </tr>
  <tr>
    <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Final Entries</strong><br>
      (final team entries)<br></td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Tuesday 03 June 2008</td>
    <td width="156" valign="top" bgcolor="#FFFFFF">Monday 16 June 2008</td>
  </tr>
</table>
<br>
 
For further details regarding the participation in the European Cup Winter Throwing, please go through the respective competition regulations available at <strong>www.european-athletics.org</strong> in the section “Member Federation Zone / Competition”. <br>
<br>
<br>
<br>
<br>
<br>
<em class="right_background"><strong>For European Cup Combined Events:</strong></em> <br>
<br>
Each team shall consist of up to 4 (four) athletes. <br>
<br>
For the Second League also individual athletes can compete pursuant to 702.6.  Team entries will handle through our teams online entry system as for all the European Athletics events. <br>
<br>
The system will be accessible at: <strong>www.european-athletics.org</strong> in the section <strong>“Member Federations Zone/ Competition”</strong>.<br>
<br>
According to the regulations the deadlines for entries are:<br>
<br>
 <table class="table" border="0" cellspacing="1" cellpadding="3" width="100%" bgcolor="#FFFFFF">
   <tr>
     <td class="table" width="161" valign="top"><strong>Men</strong></td>
     <td class="table" width="156" valign="top"><strong>opening date of the system</strong></td>
     <td class="table" width="156" valign="top"><strong>deadline for the entries</strong></td>
   </tr>
   <tr>
     <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Preliminary Entries</strong><br>
       (travel and accommodation info)</td>
     <td width="156" valign="top" bgcolor="#FFFFFF">Friday 14 March 2008</td>
     <td width="156" valign="top" bgcolor="#FFFFFF">Friday 28 March 2008</td>
   </tr>
   <tr>
     <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Final Entries</strong><br>
       (final team entries)<br></td>
     <td width="156" valign="top" bgcolor="#FFFFFF">Tuesday 10 June 2008</td>
     <td width="156" valign="top" bgcolor="#FFFFFF">Monday 23 June 2008</td>
   </tr>
 </table>
 <p><br>
   
   For further details regarding the participation in the European Cup Winter Throwing, please go through the respective competition regulations available at <strong>www.european-athletics.org</strong> in the section “Member Federation Zone / Competition”.
   
   
   <br>
<br>
<br>
<br>
<br>
<br>
<em class="right_background"><strong>For European Mountain Running Championships</strong></em> <br>
<br>
Each team shall consist of up to 4 (four) athletes in the Senior and Junior Men events and up to 3 (three) athletes in the Junior Women event.<br>
<br>
Team entries will handle through our teams online entry system as for all the European Athletics events.<br>
<br>
The system will be accessible at: <strong>www.european-athletics.org</strong> in the section<strong> “Member Federations Zone/ Competition”<br>
<br>
</strong>According to the regulations the deadlines for entries are: 	<br>
<br>

 <table class="table" border="0" cellspacing="1" cellpadding="3" width="100%" bgcolor="#FFFFFF">
   <tr>
     <td class="table" width="161" valign="top"><strong>Men</strong></td>
     <td class="table" width="156" valign="top"><strong>opening date of the system</strong></td>
     <td class="table" width="156" valign="top"><strong>deadline for the entries</strong></td>
   </tr>
   <tr>
     <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Preliminary Entries</strong><br>
       (travel and accommodation info)</td>
     <td width="156" valign="top" bgcolor="#FFFFFF">Tuesday 01 April 2008</td>
     <td width="156" valign="top" bgcolor="#FFFFFF">Monday 14 April 2008</td>
   </tr>
   <tr>
     <td width="161" valign="top" bgcolor="#FFFFFF"><strong>Final Entries</strong><br>
       (final team entries)<br></td>
     <td width="156" valign="top" bgcolor="#FFFFFF">Tuesday 17 June 2008</td>
     <td width="156" valign="top" bgcolor="#FFFFFF">Wednesday 02 July 2008</td>
   </tr>
 </table>
 
     <br>
   For further details regarding the participation in the European Cup Winter Throwing, please go through the respective competition regulations available at <strong>www.european-athletics.org</strong> in the section “Member Federation Zone / Competition”.   </td>
</tr>
  
  </table>


</body>
</html>
