
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">


<title>Event Page</title>


</head>




<body bottommargin="0" leftmargin="0" marginheight="0" marginwidth="0" rightmargin="0" topmargin="0" class="content_background">



<table cellpadding="0" cellspacing="0">

<tr>

<td align="left" valign="top" width="720">



<h1>Accommodation</h1>

 The LOC has reserved the following <em>&lt;_insert number_&gt;</em> good quality hotels for teams, providing full board accommodation: <br>
 <br> 
 <em>&lt; name&gt;<br>
 &lt; address&gt;<br>
  &lt; telephone&gt;<br>
   &lt; fax&gt;<br>
    &lt;email&gt;<br>
    &lt;website&gt; </em></td>
</tr>
  
  </table>


</body>
</html>
