
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">


<title>Event Page</title>


</head>




<body bottommargin="0" leftmargin="0" marginheight="0" marginwidth="0" rightmargin="0" topmargin="0" class="content_background">



<table cellpadding="0" cellspacing="0">

<tr>

<td align="left" valign="top" width="720">



<h1>Participating countries/Visas</h1>

<span class="right_background"><em>For the EC and ECCE:</em></span><em><br>
  (include the list of qualified  countries as given by European Athletics)</em>
<br>
<br>
<table border="0" cellspacing="0" cellpadding="1" width="50%" bgcolor="#FFFFFF">
  <tr>
    <td class="table" width="161" valign="top"><strong>Men</strong></td>
    <td class="table" width="156" valign="top"><strong>Women</strong></td>
  </tr>
  <tr>
    <td width="161" valign="top">&lt;country&gt;</td>
    <td width="156" valign="top">&lt;country&gt;</td>
  </tr>
  <tr>
    <td width="161" valign="top">&lt;country&gt;</td>
    <td width="156" valign="top">&lt;country&gt;</td>
  </tr>
  <tr>
    <td width="161" valign="top">&lt;country&gt;</td>
    <td width="156" valign="top">&lt;country&gt;</td>
  </tr>
  <tr>
    <td width="161" valign="top">&lt;country&gt;</td>
    <td width="156" valign="top">&lt;country&gt;</td>
  </tr>
  <tr>
    <td width="161" valign="top">&lt;country&gt;</td>
    <td width="156" valign="top">&lt;country&gt;</td>
  </tr>
  <tr>
    <td width="161" valign="top">&lt;country&gt;</td>
    <td width="156" valign="top">&lt;country&gt;</td>
  </tr>
  <tr>
    <td width="161" valign="top">&lt;country&gt;</td>
    <td width="156" valign="top">&lt;country&gt;</td>
  </tr>
  <tr>
    <td width="161" valign="top">&lt;country&gt;</td>
    <td width="156" valign="top">&lt;country&gt;</td>
  </tr>
</table>
<br>
<span class="right_background"><em>For the other events:</em></span><em><br>
(include the list of countries  entered in the preliminary entries)</em><br>
<br>
<hr>
<br>
Visas should be obtained before leaving your  country, from <em>&lt;host country&gt;</em> Embassy or  Consulate.<br> 
The following countries <strong>require</strong>  visas to enter <em>&lt;host country&gt;</em>:<br>
    <br>
    <em>&lt;to include the abbreviations of  the countries for which visa are required&gt;</em><br>
  <br>
  Visa applications should be made in due time  at the relevant <em>&lt;host country&gt;</em> Embassy or  Consulate. If you require any assistance from the LOC with your application  please contact:<br>
  <br>
  <em>&lt;name&gt;<br>
&lt;telephone&gt;<br>
&lt;fax&gt;<br>
&lt;email&gt; </em></td>
</tr>
  
  </table>


</body>
</html>
